
@{
    ViewBag.Title = "";
}

<h2>User List</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All User List</title>
</head>
<body>
    <table class="table-bordered" width="90%" align="center">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Gmail</th>
            <th>User Type</th>
        </tr>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.ID</td>
                <td>@a.Name</td>
                <td>@a.Email</td>
                <td>@a.UserType</td>
                
            </tr>
        }
    </table>
</body>
</html>

