
@{
    ViewBag.Title = "ProductAdd";
}

<h2>Product Add</h2>
<form action="" method="post">
    Product Name: <input type="text" name="Name" placeholder="Enter Valid Name" />
    <br />
    Product Price: <input type="number" name="Price" placeholder="Enter Selling Price" />
    <br />
    Catagory ID: <input type="number" name="CatagoryID" placeholedr="Enter Catagory ID" />
    <br />
    <input type="submit" class="btn btn-dark" name="submit" value="ADD" />
</form>

